<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-6 col-12">
      <!-- CAMBIAR DE EDITO -->
      <div class="row">
        <div class="col-lg-6">
          <button class="btn btn-warning btn-sm" (click)="changeEditCode()">
            Editar código
          </button>
        </div>
        <div class="col-lg-6">
          <button class="btn btn-warning btn-sm" (click)="changeEditLine()">
            Editar en línea
          </button>
        </div>
      </div>
      <!-- BOTON GUARDAR -->
      <div class="row">
        <div class="col-lg-4">
          <button class="btn btn-warning btn-sm">Guardar</button>
        </div>
      </div>
      <!-- DATOS PAGINA -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                <label for="nombrePagina">Título</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Home, Contactanos.."
                  id="nombrePagina"
                />
              </div>
              <div class="form-group">
                <label for="contenidoPagina">Descripción</label>
                <textarea
                  id="contenidoPagina"
                  rows="2"
                  class="form-control"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- TIPO DE EDITOR -->
      <div class="row" *ngIf="editType == 'editCode'">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <textarea
                name=""
                id=""
                rows="10"
                class="form-control"
                placeholder="EDITOR CODIGO"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="editType == 'editLine'">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <textarea
                name=""
                id=""
                rows="10"
                class="form-control"
                placeholder="EDITOR LINEA"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- VISUALIZAR PAGINA -->
    <div class="col-lg-7 col-md-6 col-sm-6 col-12 visualizar-pagina"></div>
  </div>
</div>
