
.card-home {
  cursor: pointer;
  overflow: hidden;
  height:200px;
  margin-top: 10px;
  
}
.card img{
  transition: transform 1s;
  height:100% ;
  filter:brightness(60%);
}
.card:hover img{
  filter:brightness(30%);
  transform: scale(1.2);
  
}

