<div class="container-fluid">
  <div class="row text-center">
    <div class="col-lg-12 col-12">
      <h3>Bienvenido <span class="color-yellow">{{username}}</span></h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <p>
        Gestiona y vende desde cualquier lugar con nuestra herramienta podrás
        gestionar tu tienda sin importar donde te encuentres, La tienda en línea
        te permite llegar a más clientes, y poder encontrar mercados que creías
        desconocidos.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <h3>¿Que deseas hacer?</h3>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-12 col-sm-8">
      <div class="card text-white card-home">
        <img
          src="../../../assets/imagesFastweb/imageCard1.png"
          class="card-img-top"
        />
        <div class="card-img-overlay" [routerLink]="['/admin-companies/product']">
          <h5 class="card-title">Crear página web</h5>
          <p class="card-text">
            Crea tu página web. !Aprovecha
            nuestros temas que te permitirá crear diseños de mandera
            rápida¡
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 col-sm-8">
      <div class="card text-white card-home" [routerLink]="['/admin-companies/files']">
        <img
          src="../../../assets/imagesFastweb/imageCard2.jpg"
          class="card-img-top"
        />
        <div class="card-img-overlay">
          <h5 class="card-title">Archivos</h5>
          <p class="card-text">
            Sube tus archivos, y administralos desde está opción. Podrás
            utilizar estos archivos para tus páginas web.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 col-sm-8">
      <div class="card text-white card-home" [routerLink]="['/']">
        <img
          src="../../../assets/imagesFastweb/imageCard3.jpg"
          class="card-img-top"
        />
        <div class="card-img-overlay">
          <h5 class="card-title">Perfil</h5>
          <p class="card-text">Configura tu perfil, actualiza tu información</p>
        </div>
      </div>
    </div>
  </div>
</div>
