.success {
  position: fixed;
  top: 10vh;
  right: 0;
  margin: 1.2em;
  z-index: 1200;
  background: #12992E;
  color: white;
}
.danger {
  position: fixed;
  top: 10vh;
  right: 0;
  margin: 1.2em;
  z-index: 1200;
  background: #940315;
  color: white;
} 