<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12">
      <h3>Nombre Producto</h3>
    </div>
  </div>
  <!--CONTENT COMPONENT-->
  <div class="row">
    <div class="col-6 col-lg-6 col-md-6 col-sm-6">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="formNewProduct">
            <div class="form-group">
              <label for="formGroupExampleInput">Nombre</label>
              <input
                formControlName="nameProduct"
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                placeholder="camisa, zapatos"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Descripción</label>
              <textarea
                formControlName="description"
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                placeholder="Camisa de algodón.."
              ></textarea>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="formNewProduct">
            <div class="form-row">
              <div class="col">
                <label for="precioArticulo">Precio</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input
                    type="number"
                    class="form-control"
                    aria-label="Amount (to the nearest dollar)"
                  />
                </div>
              </div>
              <div class="col">
                <label for="costoArticulo">Costo</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input
                    type="number"
                    class="form-control"
                    aria-label="Amount (to the nearest dollar)"
                  />
                </div>
              </div>
            </div>
            <br />
            <div class="form-group">
              <p>Ganancia <span> L 100</span></p>
              <p>Margen <span> 20%</span></p>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input
                  formControlName="isv"
                  class="form-check-input"
                  type="checkbox"
                  id="gridCheck"
                />
                <label class="form-check-label" for="gridCheck">
                  Cobrar impuesto a este artículo
                </label>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                <label for="codigoArticulo">Código artículo</label>
                <input
                  type="text"
                  id="codigoArticulo"
                  class="form-control"
                  formControlName="codeProduct"
                />
              </div>
              <div class="col">
                <label for="cantidadArticulo">Cantidad</label>
                <input
                  type="number"
                  id="costoArticulo"
                  class="form-control"
                  formControlName="quantityProduct"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="formNewProduct">
            <label> Multimedia</label>
            <div class="form-group">
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="customFileLang"
                  lang="es"
                  formControlName="imageProduct"
                />
                <label class="custom-file-label" for="customFileLang"
                  >Seleccionar Archivo</label
                >
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6 col-lg-6 col-md-6 col-sm-6">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="formNewProduct">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Categoría</label>
                  <select
                    class="form-control"
                    id="exampleFormControlSelect1"
                    formControlName="categoryProduct"
                  >
                    <option>Elegi una opción</option>
                    <option>Ropa</option>
                    <option>Ropa</option>
                  </select>
                </div>
                <div class="form-group">
                  <a [routerLink]="['/admin-companies/categories']"> <strong>+</strong>categoría</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="formNewProduct">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Estado producto</label>
                  <select
                    class="form-control"
                    id="exampleFormControlSelect1"
                    formControlName="stateProduct"
                  >
                    <option>Elije una opción</option>
                    <option>Nuevo</option>
                    <option>Usuado</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="proveedor">Proveedor</label>
                  <input
                    formControlName="provider"
                    type="text"
                    class="form-control"
                    placeholder="Usa Polo"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-lg-6">
      <button
        class="btn btn-warning"
        (click)="saveProduct()"
        [disabled]="!formNewProduct.valid"
      >
        Guardar
      </button>
    </div>
  </div>
</div>
