<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12 col-lg-12">
      <h3>Administrar usuarios</h3>
    </div>
  </div>
  <div class="row">
    <!-- #lista usuarios -->
    <div class="col-lg-8 col-md-8-col-sm-8 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Listado de usuarios</h5>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre Usuario</th>
                <th scope="col">Nombre empresa</th>
                <th scope="col">Tipo usaurio</th>
                <th scope="col">Opción</th>
                <th scope="col">Opción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>lito</td>
                <td>Fasthsop2.0</td>
                <td>Administrador</td>
                <td><button class="btn btn-warning btn-sm">Editar</button></td>
                <td><button class="btn btn-danger btn-sm">Bloquear</button></td>
              </tr>
              <tr>
                <td>lito</td>
                <td>Fasthsop2.0</td>
                <td>Usuario</td>
                <td><button class="btn btn-warning btn-sm">Editar</button></td>
                <td><button class="btn btn-danger btn-sm">Bloquear</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6-col-sm-6 col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-tittle text-center">Nuevo usuario</h5>
          <form>
            <div class="form-group">
              <label for="userName">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="userName"
                required
                placeholder="Escriba su nombre"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Correo</label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                required
                placeholder="correo electrónico"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <label>Tipo de usuario</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios1"
                value="option1"
                checked
              />
              <label class="form-check-label" for="exampleRadios1">
                Cliente
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios2"
                value="option2"
              />
              <label class="form-check-label" for="exampleRadios2">
                Empresa
              </label>
            </div>
            <br />
            <div class="form-group">
              <button class="btn btn-warning">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
