<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12 col-lg-12">
      <h3>Gestionar usuarios administradores</h3>
    </div>
  </div>
  <div class="row">
    <!-- #lista administradores -->
    <div class="col-lg-8 col-md-8-col-sm-8 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Listado de administradores</h5>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre Usuario</th>
                <th scope="col">Correo</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col">Opción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let admin of admins">
                <td>{{admin.username}}</td>
                <td>{{admin.email}}</td>
                <td>{{admin.createdAt.substring(0,10)}}</td>
                <td><button class="btn btn-warning btn-sm"(click)="getAdmin(admin._id)" >Editar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Nuevo administradores -->
    <div class="col-lg-4 col-md-4-col-sm-4 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-tittle text-center">{{messageControl}}</h5>
          <form
            [formGroup]="formNewAdmin"
            class="needs-validation"
            [ngClass]="{ 'was-validated': formNewAdmin.valid }"
          >
            <div class="form-group">
              <label for="userName">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="userName"
                required
                placeholder="Juan .."
                formControlName="username"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Correo</label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                required
                placeholder="usuario@correo.com"
                formControlName="email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                (keyup)="passwordValidator()"
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                formControlName="password"
              />
              <small
                id="passwordValidator"
                *ngIf="showMessageErrorPassword"
                class="form-text text-muted"
                >La contraseña debe de contener al menos 4 caracteres</small
              >
            </div>
            <br />
            <div class="form-group">
              <button
                *ngIf="buttonControl == 'create'"
                class="btn btn-warning"
                [disabled]="!formNewAdmin.valid"
                (click)="savedNewAdmin()"
              >
                Guardar
              </button>
              <button
              *ngIf="buttonControl == 'update'"
                class="btn btn-warning"
                [disabled]="!formNewAdmin.valid"
                (click)="updateAdmin()"
              >
                Actualizar
              </button>
              <button
              *ngIf="buttonControl == 'update'"
                class="btn btn-secondary"
                [disabled]="!formNewAdmin.valid"
                (click)="cancelUpdate()"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
