<div class="container-fluid">
  <div class="row text-center">
    <div class="col-12 col-lg-12">
      <h3>Administrar los clientes </h3>
    </div>
  </div>

  
  <div class="row">
    <!-- #lista clientes -->
    <div class="col-lg-8 col-md-8-col-sm-8 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">
            Listado de clientes
          </h5>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre Usuario</th>
                <th scope="col">Correo</th>
                <th scope="col">Opción</th>
                <th scope="col">Opción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>lito</td>
                <td>correo@correo.com</td>
                
                <td><button class="btn btn-warning btn-sm">Editar</button></td>
                <td><button class="btn btn-danger btn-sm">Bloquear</button></td>
              </tr>
              <tr>
                <td>lito</td>
                <td>pedro@gmail.com</td>
                
                <td><button class="btn btn-warning btn-sm">Editar</button></td>
                <td><button class="btn btn-danger btn-sm">Bloquear</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Nuevo cliente -->
    <div class="col-lg-4 col-md-4-col-sm-4 col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-tittle text-center">Nuevo usuario</h5>
          <form
            [formGroup]="formNewClient"
            class="needs-validation"
            [ngClass]="{ 'was-validated': formNewClient.valid }"
          >
            <div class="form-group">
              <label for="userName">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="userName"
                required
                placeholder="Juan .."
                formControlName ="username"
              />
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Correo</label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                required
                placeholder="usuario@correo.com"
                formControlName ="email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
              (keyup)="passwordValidator()"
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                formControlName ="password"
              />
              <small
              id="passwordValidator"
              *ngIf="showMessageErrorPassword"
              class="form-text text-muted"
              >La contraseña debe de contener al menos 4 caracteres</small
            >
            </div>
            <br />
            <div class="form-group">
              <button class="btn btn-warning" [disabled]="!formNewClient.valid" (click)="savedNewClient()">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
