nav{
  background: #585858;
  height: 10vh;
  box-shadow: 0 2px 12px rgba(110, 110, 110, 0.6);;
}
nav button{
  margin-right: 4px;
}
.navbar-brand{
  margin-right: 1px;
  margin-left: 15px;
}
.nav-link{
  font-size: 18px;
} 
