<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h3>Administra las categorías de tus productos</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8 col-md-8 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Lista de categorías</h5>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Categoría</th>
                <th scope="col">Descripción</th>
                <th scope="col">Opción</th>
                <th scope="col">Opción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td>{{category.nameCategory}}</td>
                <td>{{category.description}}</td>
                <td><button class="btn btn-warning btn-sm">Editar</button> </td>
                <td><button class="btn btn-danger btn-sm">Eliminar</button> </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Nueva categoria -->
    <div class="col-12 col-lg-4 col-md-4 col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Agregar nueva categoría</h5>
          <form
            [formGroup]="formNewCategory"
            class="needs-validation"
            [ngClass]="{ 'was-validated': formNewCategory.valid }"
          >
            <div class="form-group">
              <label for="nombreCategoria">Nombre</label>
              <input
                type="text"
                class="form-control"
                placeholder="Maquillaje.."
                id="nombreCategoria"
                formControlName="nameCategory"
              />
            </div>
            <div class="form-group">
              <label for="descripcionCategoria">Descripción</label>
              <textarea
                formControlName="description"
                type="text"
                class="form-control"
                placeholder="Maquillje marca loreal.."
                id="descripcionCategoria"
                rows="3"
              ></textarea>
            </div>
            <div class="form-group">
              <button
                class="btn btn-warning"
                [disabled]="!formNewCategory.valid"
                (click)="savedNewCategory()"
              >
                Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
