.container-fluid{
  margin-top: 40px;
}
hr{
  border-color: #F1D048;

} 
img{
  font-size: 40px;
} 
.error-404{
  margin-top: 20px;
}
.iconWarning{
  font-size: 40px;
  margin-right: 8px;
  color: #F1D048;
  
}