ng-sidebar-container {
  height: 90vh;
}
::ng-deep aside {
  background-color: #8d8f87;
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.4);
  width: 220px;
  
}
.container {
  margin-top: 10px;
}

label {
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
}
fa-icon {
  font-size: 18px;
}
.iconArrow {
  margin-top: 5px;
  margin-right: 0;
  cursor: pointer;
}
.active-link{
  color: white;
}

.sidebar-nav{
  margin-bottom: 8px;
  cursor: pointer;
}
.sidebar-nav:hover {
  background: #585858;
  color:white
}

