<ng-sidebar-container>
  <ng-sidebar
    [(opened)]="aponedSidebarService.opened"
    [mode]="_MODES[_modeNum]"
    [keyClose]="_keyClose"
    [position]="_POSITIONS[_positionNum]"
    [dock]="_dock"
    [dockedSize]="'50px'"
    [autoCollapseHeight]="_autoCollapseHeight"
    [autoCollapseWidth]="_autoCollapseWidth"
    [closeOnClickOutside]="_closeOnClickOutside"
    [closeOnClickBackdrop]="_closeOnClickBackdrop"
    [showBackdrop]="_showBackdrop"
    [animate]="_animate"
    [trapFocus]="_trapFocus"
    [autoFocus]="_autoFocus"
    [ariaLabel]="'My sidebar'"
  >
    <!-- Opciones de usuarios-->
    <div class="container" *ngIf="optionMenu == 'user'">
      <div
        class="row justify-content-between sidebar-nav"
        [routerLink]="['/admin-companies']"
      >
        <div class="col-9">
          <label>Home</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
      <div
        class="row justify-content-between sidebar-nav"
        [routerLink]="['/admin-companies/pages']"
        [routerLinkActive]="['active-link']"
      >
        <div class="col-9">
          <label>Mi empresa</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
      <div
        class="row justify-content-between sidebar-nav"
        [routerLink]="['/admin-companies/products']"
        [routerLinkActive]="['active-link']"
      >
        <div class="col-9">
          <label for="">Productos</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
      <div
        class="row justify-content-between sidebar-nav"
        [routerLink]="['/admin-companies/categories']"
        [routerLinkActive]="['active-link']"
      >
        <div class="col-9">
          <label for="">Categorias</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
      <div
        class="row justify-content-between sidebar-nav"
        [routerLink]="['/admin-companies/settings']"
        [routerLinkActive]="['active-link']"
      >
        <div class="col-9">
          <label>Configuraciones</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
      <div
        class="row justify-content-between sidebar-nav"
        [routerLink]="['/admin-companies/components']"
        [routerLinkActive]="['active-link']"
      >
        <div class="col-9">
          <label>Componentes</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
      <div
        class="row justify-content-between sidebar-nav"
        [routerLink]="['/admin-companies/files']"
        [routerLinkActive]="['active-link']"
      >
        <div class="col-9">
          <label for="">Archivos</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
    </div>

    <!-- Opciones de daministrador -->
    <div class="container" *ngIf="optionMenu == 'admin'">
      <div
        class="row justify-content-between sidebar-nav"
        [routerLink]="['/admin']"
      >
        <div class="col-9">
          <label for="">Empresas</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
      <div
        class="row justify-content-between sidebar-nav"
        [routerLink]="['/admin/pricing']"
        [routerLinkActive]="['active-link']"
      >
        <div class="col-9">
          <label for="">Planes</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
      <div
        class="row justify-content-between sidebar-nav"
        [routerLink]="['/admin/themes']"
        [routerLinkActive]="['active-link']"
        (click)="optionsThemes()"
      >
        <div class="col-9">
          <label for="">Temas</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
      <div
        class="row justify-content-between sidebar-nav"
        *ngIf="optionTheme"
        [routerLink] = "['/admin/themes/theme']"
      >
        <div class="col-9" >
          <label class="ml-2" >Nuevo Tema</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>

      <div
        class="row justify-content-between sidebar-nav"
        [routerLink]="['/admin/users']"
        [routerLinkActive]="['active-link']"
        (click) ="showOptions()"
      >
        <div class="col-9">
          <label for="">Usuarios</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
      <div
        class="row justify-content-between sidebar-nav"
        *ngIf="optionUser"
        
      >
        <div class="col-9" [routerLink] = "['/admin/users/companies']">
          <label class="ml-2" >Empresas</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
      <div
        class="row justify-content-between sidebar-nav"
        *ngIf="optionUser"
        [routerLink] = "['/admin/users/clients']"
      >
        <div class="col-9" >
          <label class="ml-2" >Clientes</label>
        </div>
        <div class="col-3 iconArrow">
          <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </div>
      </div>
    </div>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <router-outlet> </router-outlet>
  </div>
</ng-sidebar-container>
