<div class="container">
  <!--DESCRIPCION DE COMPONENTE-->
  <div class="row text-center">
    <div class="col-12">
      <h3>Agregar y gestionar tus productos</h3>
    </div>
  </div>
  <!--CONTENIDO COMPONENTE-->
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-10 col-sm-12 col-12">
      <button class="btn btn-warning" [routerLink]="['/admin-companies/product']" >Agregar Producto</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-sm-12 col-md-11">
      <div class="card">
        <div class="card-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">nombre</th>
                <th scope="col" >Existencias</th>
                <th scope="col">Categoria</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img
                    src="../../../assets/imagesProducts/camisaAzul.jpg"
                    alt=""
                  />
                </td>
                <td>Camisa Polo</td>
                <td>5</td>
                <td>Camisa</td>
                <td><button class="btn btn-warning btn-sm">Editar</button></td>
                <td><button class="btn btn-danger btn-sm">Eliminar</button></td>
              </tr>
              <tr>
                <td>
                  <img
                    src="../../../assets/imagesProducts/zapatos.jpg"
                    alt=""
                  />
                </td>
                <td>Zapataos</td>
                <td>1</td>
                <td>Clazado caballeros</td>
                <td><button class="btn btn-warning btn-sm">Editar</button></td>
                <td><button class="btn btn-danger btn-sm">Eliminar</button></td>
              </tr>
              <tr>
                <td>
                  <img
                    src="../../../assets/imagesProducts/zapatos1.png"
                    alt=""
                  />
                </td>
                <td>Zapataos</td>
                <td>1</td>
                <td>Clazado caballeros</td>
                <td><button class="btn btn-warning btn-sm">Editar</button></td>
                <td><button class="btn btn-danger btn-sm">Eliminar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
