<div class="row justify-content-center mb-3">
  <a href="" [routerLink]="['/login']"> ¿Ya tienes una cuenta?</a>
</div>
<div class="row justify-content-center">
  <!--formulario-->
  <div class="col-12 col-lg-6 col-md-6 col-sm-10 col-xl-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Regístrate</h5>

        <form
          [formGroup]="formRegisterClient"
          class="needs-validation"
          [ngClass]="{
            'was-validated': formRegisterClient.valid
          }"
          novalidate
        >
          <div class="form-group">
            <label for="userName">Nombre</label>
            <input
              formControlName="username"
              type="text"
              class="form-control"
              id="userName"
              required
              placeholder="Pancho panza"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              required
              placeholder="usuario@correo.com"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input
              (keyup)="passwordValidator()"
              formControlName="password"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
            <small
              id="passwordValidator"
              *ngIf="showMessageErrorPassword"
              class="form-text text-muted"
              >La contraseña debe de contener al menos 4 caracteres</small
            >
          </div>
          <label>Tipo de usuario</label>
          <div class="form-check" (change)="changeOptionTypeUser($event)">
            <input
              class="form-check-input"
              type="radio"
              name="role"
              id="exampleRadios1"
              value="client"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Cliente
            </label>
          </div>
          <div class="form-check" (change)="changeOptionTypeUser($event)">
            <input
              
              class="form-check-input"
              type="radio"
              name="role"
              id="exampleRadios2"
              value="company"
            />
            <label class="form-check-label" for="exampleRadios2">
              Empresa
            </label>
          </div>
          <br />
          <button
            class="btn btn-warning"
            [disabled]="!formRegisterClient.valid"
            *ngIf="showButtonClient"
            (click)="registerClientUser()"
          >
            Registrarme
          </button>
        </form>
      </div>
    </div>
    <!-- OPCIONES DE EMPRESAS -->
    <div class="card" *ngIf="showOptionCompany">
      <div class="card-body">
        <form
          [formGroup]="formRegisterCompany"
          class="needs-validation"
          [ngClass]="{
            'was-validated': formRegisterCompany.valid
          }"
        >
          <div class="form-group">
            <label for="nuevaTienda">Nombre Tienda</label>
            <input
              formControlName="nameCompany"
              type="text"
              class="form-control"
              id="nuevaTienda"
              required
              placeholder="Inversiones Pancho"
            />
          </div>
          <div class="form-group">
            <label for="pais">País</label>
            <select class="form-control" id="pais" formControlName="country">
              <option>Honduras</option>
              <option>Costa Rica</option>
              <option>EEUU</option>
              <option>EL Salvador</option>
              <option>México</option>
            </select>
          </div>
          <div class="form-group">
            <label for="direccion">Dirección</label>
            <input
              formControlName="address"
              type="text"
              class="form-control"
              id="direccion"
              required
              placeholder="Colonia las ministas.."
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Categoria empresa</label>
            <select
              class="form-control"
              id="exampleFormControlSelect1"
              formControlName="categoryCompany"
            >
              <option>Indumentaria</option>
              <option>Computadoras</option>
              <option>Accesorios para celular</option>
              <option>Libros</option>
              <option>Belleza</option>
              <option>Electrónica</option>
              <option>Servicios</option>
              <option>Servicios virtuales</option>
              <option>Venta en general</option>
              <option>Aún no decido</option>
              <option>Otros</option>
            </select>
          </div>
          <button
            [disabled]="!formRegisterCompany.valid || !formRegisterClient.valid || !currentPackage"
            class="btn btn-warning"
            (click)="openModalPay(modalPayCompany)"
          >
            Registrarme
          </button>
        </form>
      </div>
    </div>
  </div>

  <!--PLANES-->
  <div
    class="col-12 col-lg-6 col-md-6 col-sm-10 col-xl-6"
    *ngIf="showOptionCompany"
  >
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                <div class="row justify-content-center align-items-center">
                  <span class="price">20</span><span>$</span>
                  <p>Mensual</p>
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-8 col-8">
                <h5 class="card-title"><span>Emprendedor</span></h5>
                <span>Descripción:</span>
                <p>
                  Todas las herramientas básicas para poder crear tu tienda en
                  línea.
                </p>
                <p>Cuentas para empleados: <span>4</span></p>
                <div class="custom-control custom-switch">
                  <input
                    (click)="choosePackage(1)"
                    type="radio"
                    class="custom-control-input"
                    id="customSwitch1"
                    name="choosePackage"
                    
                  />
                  <label class="custom-control-label" for="customSwitch1"
                    >Elegir este plan</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                <div class="row justify-content-center align-items-center">
                  <span class="price">20</span><span>$</span>
                  <p>Mensual</p>
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-8 col-8">
                <h5 class="card-title"><span>Emprendedor</span></h5>
                <span>Descripción:</span>
                <p>
                  Todas las herramientas básicas para poder crear tu tienda en
                  línea.
                </p>
                <p>Cuentas para empleados: <span>4</span></p>
                <div class="custom-control custom-switch">
                  <input
                    (click)="choosePackage(2)"
                    type="radio"
                    class="custom-control-input"
                    id="customSwitch2"
                    name="choosePackage"
                  />
                  <label class="custom-control-label" for="customSwitch2"
                    >Elegir este plan</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                <div class="row justify-content-center align-items-center">
                  <span class="price">20</span><span>$</span>
                  <p>Mensual</p>
                </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-8 col-8">
                <h5 class="card-title"><span>Emprendedor</span></h5>
                <span>Descripción:</span>
                <p>
                  Todas las herramientas básicas para poder crear tu tienda en
                  línea.
                </p>
                <p>Cuentas para empleados: <span>4</span></p>
                <div class="custom-control custom-switch">
                  <input
                    (click)="choosePackage(3)"
                    type="radio"
                    class="custom-control-input"
                    id="customSwitch3"
                    name="choosePackage"
                  />
                  <label class="custom-control-label" for="customSwitch3"
                    >Elegir este plan</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL PARA PAGAR -->
<ng-template #modalPayCompany let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Realizar pago
      <fa-icon [icon]="faShoppingCart" class="color-yellow"></fa-icon>
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-tittle text-center">Forma de pago</h5>
            <form>
              <div class="form-group">
                <fa-icon [icon]="faCcPaypal" class="icon-pay"></fa-icon>
                <fa-icon [icon]="faCcVisa" class="icon-pay"></fa-icon>
              </div>
              <div class="form-group">
                <label for="numberCard">Número de tarjeta</label>
                <input type="text" class="form-control" id="numberCard" />
              </div>
              <div class="form-group">
                <label for="pinCard">Pin tarjeta</label>
                <input type="text" class="form-control" id="pinCard" />
              </div>
              <div class="form-group">
                <button class="btn btn-warning" (click)="registerCompany()">
                  Pagar
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-tittle text-center">Su factura</h5>
            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <span>Sub total</span>
                  </div>
                  <div class="col-6">
                    <span>40$</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <span>Impuesto</span>
                  </div>
                  <div class="col-6">
                    <span>5$</span>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-6">
                    <span>Total</span>
                  </div>
                  <div class="col-6">
                    <span>45$</span>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
