<div class="row justify-content-center">
  <div class="col-12 col-lg-5 col-md-8 col-sm-8 col-xl-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Iniciar Sesión</h5>
        <form
          [formGroup]="formLogin"
          class="needs-validation"
          [ngClass]="{
            'was-validated': formLogin.valid}"
          novalidate
        >
          <div class="form-group">
            <label for="correoUsuario">Correo</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="correoUsuario"
              required
              placeholder="usuario@correo.com"
            />
            <div class="invalid-feedback">Please provide a valid city.</div>
          </div>
          <div class="form-group">
            <label for="passwordUsuario">Contraseña</label>
            <input
              formControlName="password"
              type="password"
              class="form-control"
              id="passwordUsuario"
              required
            />
          </div>

          <br />
          <small id="emailHelp"  *ngIf="errorPasswordEmail" class="form-text text-muted">contraseña o correo incorrecto</small>
          <br />
          <a
            style="cursor: pointer; color: #007bff"
            [routerLink]="['/login/register']"
          >
            ¿No tienes una cuenta?</a
          >
          <button
            type="submit"
            class="btn btn-warning text-white float-right"
            [disabled]="!formLogin.valid"
            (click)="login()"
          >
            Ingresar
          </button>
          <button (click)="modalPrueba(content)">Modal</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input type="text" class="form-control">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>