body{
  background: #D8DBDF;
  
}
.color-yellow{
  color: #F1D048;
}
.margin-tittle{
  margin-top: 20px;
  margin-bottom: 8px;
}
.btn{
  margin-right: 10px;
  color: white;
}
hr{
  border-color: #F1D048;

} 