<div class="container-fluid">
  <div class="row text-center">
    <div class="col-lg-12 col-12 col-md-12 col-sm-12">
      <h3>Administrador de planes para empresas</h3>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
      <button
        class="btn btn-warning"
        (click)="openModalNewPrecing(modalNewPrecing)"
      >
        Nuevo plan
      </button>
    </div>
  </div>
  <!-- Tarjetas Precios -->
  <div class="row justify-content-center mb-2">
    <div
      class="col-lg-6 col-md-8 col-sm-10 col-12"
      *ngFor="let price of pricing"
    >
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <div class="row justify-content-center align-items-center">
                <span class="price">{{ price.price }}</span
                ><span>$</span>
                <p>Mensual</p>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-9">
              <h5 class="card-title">
                <span>{{ price.title }}</span>
              </h5>
              <p><span>Descripción:</span> {{ price.description }}</p>
              <p>
                Cantidad de productos:
                <span>{{ price.maxQuantityProducts }}</span>
              </p>
              <p>
                Cantidad de páginas <span>{{ price.maxQuantityPages }}</span>
              </p>
              <button
                class="btn btn-warning btn-sm"
                (click)="openModalUpdate(modalNewPrecing, price._id)"
              >
                Editar
              </button>
              <button
                class="btn btn-danger btn-sm"
                (click)="opendeModalDelete(modalDeletePrice, price._id)"
              >
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal NUEVO PRECIOS -->
<ng-template #modalNewPrecing let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nuevo plan</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      [formGroup]="formPrecing"
      class="needs-validation"
      [ngClass]="{
        'was-validated': formPrecing.valid
      }"
    >
      <div class="form-group">
        <label for="titulo">Título</label>
        <input
          type="text"
          class="form-control"
          placeholder="Deluxe.."
          id="titulo"
          required
          formControlName="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea
          class="form-control"
          name=""
          id="description"
          rows="2"
          placeholder="Plan para emrpesas con descuento.."
          formControlName="description"
        ></textarea>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input
          type="number"
          class="form-control"
          aria-label="Amount (to the nearest dollar)"
          formControlName="price"
        />
      </div>
      <div class="form-group">
        <label for="maxQuantityProduct">Cantidad de productos</label>
        <input
          type="number"
          class="form-control"
          id="maxQuantityProducts"
          required
          formControlName="maxQuantityProducts"
        />
      </div>
      <div class="form-group">
        <label for="maxQuantityPages">Cantidad de páginas</label>
        <input
          type="number"
          class="form-control"
          id="maxQuantityPages"
          required
          formControlName="maxQuantityPages"
        />
      </div>
      <div class="form-group" *ngIf="buttonControl == 'newPrice'">
        <button
          [disabled]="!formPrecing.valid"
          class="btn btn-warning btn-sm"
          (click)="savePrecing()"
        >
          Guardar
        </button>
      </div>
      <div class="form-group" *ngIf="buttonControl == 'editPrice'">
        <button
          [disabled]="!formPrecing.valid"
          class="btn btn-warning btn-sm"
          (click)="updatePricing()"
        >
          Actualizar
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Mdadal confirm -->
<ng-template #modalDeletePrice let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmar</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label
          ><h6>¿Esta seguro de eliminar este ítem?</h6>Este proceso no es
          reversible.</label
        >
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button  class="btn btn-danger btn-sm" (click)="deletePrice()" >
      Eliminar
    </button>
  </div>
</ng-template>
