<div class="container-fluid">
  <div class="row text-center">
    <div class="col-lg-12 col-12">
      <h3>Administra tus archivos</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
      <button class="btn btn-warning" (click)="openModal(modalNewFile)">
        Agregar archivo
      </button>
    </div>
  </div>
  <h3>Fotos</h3>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-6 col-9">
      <div class="card">
        <img
          src="../../../assets/images-landingPage/soporte.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <p>Nombre: <span>Imagen perfil</span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <button class="btn btn-warning btn-sm">Editar</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <button class="btn btn-warning btn-sm">script</button>
            </div>
            <div class="col-lg-5 col-md-3 col-sm-3 col-3">
              <button class="btn btn-danger btn-sm">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-9">
      <div class="card">
        <img
          src="../../../assets/images-landingPage/soporte.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <p>Nombre: <span>Imagen perfil</span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <button class="btn btn-warning btn-sm">Editar</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <button class="btn btn-warning btn-sm">script</button>
            </div>
            <div class="col-lg-5 col-md-3 col-sm-3 col-3">
              <button class="btn btn-danger btn-sm">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <h3>Vídeos</h3>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 col-sm-6 col-9">
      <div class="card">
        <img
          src="../../../assets/images-landingPage/soporte.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <p>Nombre: <span>Imagen perfil</span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <button class="btn btn-warning btn-sm">Editar</button>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <button class="btn btn-warning btn-sm">script</button>
            </div>
            <div class="col-lg-5 col-md-3 col-sm-3 col-3">
              <button class="btn btn-danger btn-sm">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>

<!--MODAL NUEVO ARCHIVO-->
<ng-template #modalNewFile let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar nuevo archivo</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formNewFile">
      <div class="form-group">
        <label for="titulo">Nombre</label>
        <input
          formControlName="nameFile"
          type="text"
          class="form-control"
          placeholder="Imagen de fondo.."
          id="titulo"
        />
      </div>
      <div class="form-group">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="customFileLang"
            lang="es"
            formControlName="file"
          />
          <label class="custom-file-label" for="customFileLang"
            >Seleccionar Archivo</label
          >
        </div>
      </div>
      <div class="form-group">
        <label for="fileCategory">Categoria</label>
        <select
          name=""
          id="fileCategory"
          class="form-control"
          formControlName="fileCategory"
        >
          <option value="foto">foto</option>
          <option value="video">Video</option>
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-warning"
      (click)="saveFile()"
      [disabled]="!formNewFile.valid"
    >
      Subir
    </button>
  </div>
</ng-template>
